/* styles.css */

.chat-container {
    display: flex;
    flex-direction: column;
}

.chat {
    border: 1px solid gray;
    border-radius: 3px;
    width: 50%;
    padding: 0.5em;
}

.chat-left {
    background-color: white;
    align-self: flex-start;
}

.chat-right {
    background-color: #3f9ae5;
    align-self: flex-end;
}

.message-input-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid gray;
    padding: 1em;
}
